
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Front/css/Home/Home.css">
    <link rel="stylesheet" href="~/Content/Front/css/Home/responsive.css">
</head>

<body>
    <header id="home-header">

        <nav class="navbar navbar-expand-lg fixed-top" id="nav">
            <div class="container">
                <a class="navbar-brand" href='@Url.Action("Home", "User")' id="home-logo">
                    <img src="../../Content/Front/images/top-logo.png" alt="logo" class="img-responsive">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">&#9776;</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @if (Session["UserID"] == null)
                    {
                        <ul class="navbar-nav" id="home-list">
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("SearchNotes", "User")'>Search<span class="spacing">Notes</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Login", "User")'>Sell<span class="spacing">Your</span><span class="spacing">Notes</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Login", "User")'>Buyer<span class="spacing">Requests</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("FAQ", "User")'>FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("ContactUs", "User")'>Contact<span class="spacing">Us</span></a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline">
                                    <a class="nav-link" href='@Url.Action("Login", "User")'><button class="btn btn-navbar btn-light" type="button">Login</button></a>
                                </form>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav" id="home-list">
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("SearchNotes", "User")'>Search<span class="spacing">Notes</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Dashboard", "User")'>Sell<span class="spacing">Your</span><span class="spacing">Notes</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("BuyerRequest", "User")'>Buyer<span class="spacing">Requests</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("FAQ", "User")'>FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("ContactUs", "User")'>Contact<span class="spacing">Us</span></a>

                            </li>
                            <li class="nav-item dropdown">
                                @if (Session["Profile"] != null)
                                {
                                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src='~/UploadFiles/@Session["Profile"]'  alt="client" class="rounded-circle seller">
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/Admin/images/Dashboard/user-img.png" alt="client" class="rounded-circle seller">
                                    </a>
                                }
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">s
                                <a class="dropdown-item" href='@Url.Action("UserProfile", "User")'>My Profile</a>
                                <a class="dropdown-item" href='@Url.Action("MyDownloads", "User")'>My Download</a>
                                <a class="dropdown-item" href='@Url.Action("MySoldNotes", "User")'>My Sold Notes</a>
                                <a class="dropdown-item" href='@Url.Action("MyRejectedNotes", "User")'>My Rejected Notes</a>
                                <a class="dropdown-item" href='@Url.Action("ChangePassword", "User")'>Change Password</a>
                            </div>
                            </li>
                            <li class="nav-item btnn">
                                @using (Html.BeginForm("LogOut", "User", FormMethod.Get))
                                {
                                    <button class="btn btn-navbar btn-light" type="Submit">Logout</button>
                                 }
                            </li>
                        </ul>
                    }
                    <script>
                        
                    </script>
                </div>
            </div>
        </nav>
        <div id="below-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-12">
                        <div id="heading">
                            <h2>Download Free/Paid Notes Or Sale your Book</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus perspiciatis inventore est
                                dicta dolor! Praesentium gallery of type
                            </p>
                        </div>
                        @using (Html.BeginForm("FAQ", "User", FormMethod.Get))
                        {
                            <div id="btn">
                                <button class="btn btn-learn-more" type="submit">Learn More</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12 col-12 ">
                        <div class="horizontal-heading">
                            <h2>About NotesMarketPlace</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <div id="about-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto vitae
                                eligendi, iste quibusdam qui velit ducimus voluptas ut quisquam modi incidunt dolore
                                facilis dolor architecto, sed inventore! Deserunt, sunt.sed inventore! Deserunt,
                                sunt.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis incidunt harum
                                mollitia neque vero repellendus labore, corrupti, cum architecto quasi nam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="download-seller">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12 text-center">
                        <div class="horizontal-heading">
                            <h2>How it Works</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <div id="download-logo">
                            <img src="~/Content/Front/images/home/download.png" alt="download" id="download-img">
                        </div>
                        <div id="download-description">
                            <h2>Download Free/Paid Notes</h2>
                            <p>Get Material for your<br><span>Course etc.</span></p>
                        </div>
                        @using (Html.BeginForm("SearchNotes", "User", FormMethod.Get))
                        {
                            <div id="download-btn">
                                <button class="btn btn-download" type="submit">Download</button>
                            </div>

                        }
                    </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <div id="seller-logo">
                        <img src="~/Content/Front/images/home/seller.png" alt="seller" id="seller-img">
                    </div>
                    <div id="seller-description">
                        <h2>Seller</h2>
                        <p>Upload and Download cource<br><span>and Materials etc.</span></p>
                    </div>
                    @if (Session["UserID"] == null)
                    {
                        using (Html.BeginForm("Login", "User", FormMethod.Get))
                        {
                            <div id="download-btn">
                                <button class="btn btn-seller" type="submit">sell book</button>
                            </div>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("Dashboard", "User", FormMethod.Get))
                        {
                            <div id="download-btn">
                                <button class="btn btn-seller" type="submit">sell book</button>
                            </div>
                        }
                    }

                </div>

                </div>
            </div>
        </div>
    </section>
    <section id="testimonial">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12 text-center">
                        <div class="horizontal-heading">
                            <h2>What Our Customers are Saying</h2>
                        </div>
                    </div>
                </div>
                <div class="blog-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="customer">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-3">
                                        <div class="client-logo">
                                            <img src="~/Content/Front/images/home/customer-1.png" class="rounded-circle img-responsive client-img" alt="client">
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-9">
                                        <div class="client-heading">
                                            <h2>Walter Maller</h2>
                                            <p>Founder & CEO of Matrix Group</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="client-description">
                                            <p>
                                                "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
                                                inventore animi fugit numquam neque enim nostrum! ."
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="customer">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-3">
                                        <div class="client-logo">
                                            <img src="~/Content/Front/images/home/customer-2.png" class="rounded-circle img-responsive client-img" alt="client">
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-9">
                                        <div class="client-heading">
                                            <h2>Jonnie Riley</h2>
                                            <p>Employee , Curious Snakcs</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="client-description">
                                            <p>
                                                "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
                                                inventore animi fugit numquam neque enim nostrum! ."
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="customer">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-3">
                                        <div class="client-logo">
                                            <img src="~/Content/Front/images/home/customer-3.png" class="rounded-circle img-responsive client-img" alt="client">
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-9">
                                        <div class="client-heading">
                                            <h2>Amilia Luna</h2>
                                            <p>Teacher,Saint Joseph high school</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="client-description">
                                            <p>
                                                "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
                                                inventore animi fugit numquam neque enim nostrum! ."
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12">
                            <div class="customer">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-3">
                                        <div class="client-logo">
                                            <img src="~/Content/Front/images/home/customer-4.png" class="rounded-circle img-responsive client-img" alt="client">
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-9">
                                        <div class="client-heading">
                                            <h2>Daniel Cardos</h2>
                                            <p>Software Engineer , Infinitum Company</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="client-description">
                                            <p>
                                                "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
                                                inventore animi fugit numquam neque enim nostrum! ."
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <div class="container">
        <footer>

            <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                    <p>
                        Copyright &copy; Tatvasoft All rights Reserved.
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 col-12 text-right">
                    <ul class="social-list">
                        <li><a href="#"><img src="~/Content/Front/images/images/facebook.png"></a></li>
                        <li><a href="#"><img src="~/Content/Front/images/images/twitter.png"></a></li>
                        <li><a href="#"><img src="~/Content/Front/images/images/linkedin.png"></a></li>
                    </ul>
                </div>
            </div>

        </footer>
    </div>
    <script src="~/Content/Front/js/jquery.min.js"></script>
    <script src="~/Content/Front/js/bootstrap.min.js"></script>
    <script src="~/Content/Front/js/script.js"></script>
</body>
</html>