@model Notes_MarketPlace.Models.ChangePassword
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes-MarketPlace</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/Front/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/Front/css/change-password/change.css">
    <link rel="stylesheet" href="../../Content/Front/css/login/responsive.css"><!-- both pages have same type of reponsive css -->
</head>
<body>
    <section id="changepassword">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12 text-center" id="top-logo">
                        <img src="../../Content/Front/images/top-logo.png" alt="logo" class="img-resposive">
                    </div>
                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                    {
                        <div class="col-md-12 col-sm-12 col-12">
                            <div id="change-box">
                                <div id="heading" class="text-center">
                                    <h2>Change Password?</h2>
                                    <p>Enter your new password to change your password</p>

                                </div>

                                <div class="col-md-12 col-sm-12 col-12" id="pwd">
                                    <div class="form-group ">

                                        @Html.LabelFor(m => m.OldPassword, "Old Password", new { @class = "password" })
                                        @Html.ValidationMessageFor(m => m.OldPassword)
                                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Enter your old password", type = "password" })
                                        <span toggle="#old-password" class="eye field-icon toggle-password">
                                            <img src="../../Content/Front/images/eye.png" alt="eye">
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group ">
                                        @Html.LabelFor(m => m.NewPassword, "New Password", new { @class = "password" })
                                        @Html.ValidationMessageFor(m => m.NewPassword)
                                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Enter your new password", type = "password" })
                                        <span toggle="#new-password" class="eye field-icon toggle-password">
                                            <img src="../../Content/Front/images/eye.png" alt="eye">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-12" id="pwd">
                                    <div class="form-group ">

                                        @Html.LabelFor(m => m.ConformPassword, "Conform Password", new { @class = "password" })
                                        @Html.ValidationMessageFor(m => m.ConformPassword)
                                        @Html.TextBoxFor(m => m.ConformPassword, new { @class = "form-control", @placeholder = "Enter your conform password", type = "password" })
                                        <span toggle="#conform-password" class="eye field-icon toggle-password">
                                            <img src="../../Content/Front/images/eye.png" alt="eye">
                                        </span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block btn-general">Submit</button>
                            </div>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </section>
    <script src="../../Content/Front/js/jquery.min.js"></script>
    <script src="../../Content/Front/js/bootstrap.min.js"></script>
    <script src="../../Content/Front/js/script.js"></script>
</body>
</html>