@model IEnumerable<Notes_MarketPlace.Models.RejectedNotes>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes-Marketplace</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Front/css/My-RejectedNotes/My-RejectedNotes.css">
    <link rel="stylesheet" href="~/Content/Front/css/My-RejectedNotes/responsive.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/Content/Front/images/user-profile/navbarbanner.png" alt="logo" class="img-responsive">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">&#9776;</span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("SearchNotes", "User")'>Search<span class="spacing">Notes</span></a>
                        </li>
                        @if (Session["UserID"] == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Login", "User")'>Sell<span class="spacing">Your</span><span class="spacing">Notes</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Login", "User")'>Buyer<span class="spacing">Requests</span></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Dashboard", "User")'>Sell<span class="spacing">Your</span><span class="spacing">Notes</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("BuyerRequest", "User")'>Buyer<span class="spacing">Requests</span></a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("FAQ", "User")'>FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("ContactUs", "User")'>Contact<span class="spacing">Us</span></a>

                        <li class="nav-item">
                            <img src="~/Content/Front/images/Dashboard/user-img.png" alt="client" class="rounded-circle seller">
                        </li>

                        <li class="nav-item">
                            <form class="form-inline">

                                <button class="btn btn-outline-success btn-navbar" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>


    <div class="container">
        <section id="My-Rejected">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                    <div class="heading">
                        <h2>My Rejected Notes</h2>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                    <form class="form-inline">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-7">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                       aria-label="Search" id="search">
                                <img src="~/Content/Front/images/Dashboard/search.jpg" alt="search" class="search-icon">
                            </div>
                            <div class="col-md-4 col-sm-4 col-5">
                                <button class="btn btn-search" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="Rejected-Table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">SR NO.</th>
                        <th scope="col">NOTE TITLE</th>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">REMARKS</th>
                        <th scope="col">CLONE</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;

                        foreach (var item in Model)
                        {
                            i += 1;
                            <tr>
                                <th scope="row">@i</th>
                                <td>@item.sellerNote.Title</td>
                                <td>@item.category.Name</td>
                                <td>@item.sellerNote.AdminRemarks</td>
                                <td>clone</td>

                                <td>
                                    <div class="dropdown">
                                        <button class="dropbtn"><i><img src="~/Content/Front/images/images/dots.png"></i></button>
                                        <div class="dropdown-content">
                                            <a href='@Url.Action("Downloading", "User",new { id = item.sellerNote.ID})'>Download Note</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <th scope="row">10</th>
                        <td>Lorem ipsum</td>
                        <td>lorem</td>
                        <td>lorem ipsum is simply dummy text</td>
                        <td>clone</td>

                        <td>
                            <div class="dropdown">
                                <button class="dropbtn"><i><img src="~/Content/Front/images/images/dots.png"></i></button>
                                <div class="dropdown-content">
                                    <a href="#">Download Note</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </div>

    <hr>
    <footer>
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <p>
                            Copyright &copy; Tatvasoft All rights Reserved.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 social-list-div">
                        <ul class="social-list">
                            <li><a href="#"><img src="~/Content/Front/images/images/facebook.png"></a></li>
                            <li><a href="#"><img src="~/Content/Front/images/images/twitter.png"></a></li>
                            <li><a href="#"><img src="~/Content/Front/images/images/linkedin.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/Front/js/jquery.min.js"></script>


    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            var table = $('table').DataTable({
                'sDom': '"top"i',
                "iDisplayLength": 10,
                "binfo": false,
                language: {
                    paginate: {
                        next: '<img src="/Content/Front/images/images/right-arrow.png">',
                        previous: '<img src="/Content/Front/images/images/left-arrow.png">'
                    }
                }
            }
            );
            $('.btn-search').click(function () {
                var x = $('#search').val();
                table.search(x).draw();
            });

        });
    </script>

    <script src="~/Content/Front/js/bootstrap.min.js"></script>

    <script src="~/Content/Front/js/script.js"></script>
</body>
</html>
